<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{{ url_for('static', filename = 'main.css') }}">
    <title>Старченко Марк.{% block lab %} {% endblock %}.</title>
    {% if request.cookies.get('color') %}
    <style>
        body {
            color: {{ request.cookies.get('textColor') }};
            background-color: {{ request.cookies.get('backgroundСolor') }};
            font-size: {{ request.cookies.get('fontSize') }}px;
        }
        
    </style>
    {% endif %}
</head>
<body>
    <header>
        Старченко Марк. часть 2. {{ self.lab() }}
        <a href="/menu">Меню</a>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer> 
        ©<i>Марк Старченко, ФБИ-14, 2 курс, 2023
        {% block footer %}{% endblock %}
    </i></footer>
</body>
</html>