{% extends "base.html" %}

{% block lab %} Лабораторная работа 3 {% endblock %}

{% block main %}

    {% if user and age %}
    <h1>Привет, {{ user }}!</h1>

    <div>Добро пожаловать на наш сайт</div>
    <div>Ваш возраст: {{age}}</div>
    <div>Ваш пол: {{'мужской' if sex == 'male' else 'Женский'}}</div>

    <div>
        <a href="/lab3/form1">Заново</a>
    </div>
    {% else %}
    <h1>пользователь</h1>

    <form>
        <label>Ваше имя:</label>
        <div>
            <input type="text" placeholder="Как вас зовут?" name="user" value="{{ user or '' }}">
            <span class="error">{{ errors.user }}</span>
        </div>

        <label>Ваш возраст:</label>
        <div>
            <input type="number" placeholder="Укажите возраст" name="age" value="{{ age or '' }}">
            <span class="error">{{ errors.age }}</span>
        </div>

        <label>Ваш пол:</label>
        <div>
            <select name="sex">
                <option value="male" {{ sex == 'male' and 'selected' }}>Мужчина</option>
                <option value="female" {{ sex == 'female' and 'selected' }}>Женщина</option>
            </select>
        </div>

        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>
    {% endif %}
{% endblock %}