{% extends "base.html" %}

{% block lab %} Лабораторная работа 2 {% endblock %}

{% block main %}
    <h1>Картинки про Салевана из "Корпорации монстров"</h1>
    <div style="text-align: center;">
        <img class="memimage" src = "\static\mem.jpg">
    </div>
    <div class="mem1">
        Это он в афиге, как я
    </div>

    <div style="text-align: center;">
        <img class="memimage" src = "\static\mem1.jpeg">
    </div>
    <div class="mem1">
        Это я думаю, что прогулять
    </div>

    <div style="text-align: center;">
        <img class="memimage" src = "\static\mem2.jpg">
    </div>
    <div class="mem1">
        Это я вижу в расписании 4 лабы подряд
    </div>

    <div style="text-align: center;">
        <img class="memimage" src = "\static\mem3.jpg">
    </div>
    <div class="mem1">
        Это я вижу ваше РГЗ
    </div>

    <div style="text-align: center;">
        <img class="memimage" src = "\static\mem4.jpeg">
    </div>
    <div class="mem1">
        Это я в общаге
    </div>

{% endblock %}